<header class="header">
  <div class="header__wrapper">
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="" class="header__nav-link">How It Works</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Fruits</a>
        </li>
        <li class="header__nav-item">
          <a href="" class="header__nav-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="logo">
      <a href="" class="logo__icon-link">
        <svg class="logo__icon-svg" width="16" height="16">
          <use href="../img/icons1.svg#icon-logo"></use>
        </svg>
      </a>
      <a href="" class="logo__name-link">
        <p class="logo__p">Fresh harvest box</p>
      </a>
    </div>

    <div class="menu">
      <button class="menu__btn">
        <svg class="menu__svg">
          <use href="../img/icons1.svg#icon-menu"></use>
        </svg>
      </button>
    </div>

    <div class="basket">
      <svg class="basket__svg" width="24" height="24">
        <use class="basket__icon" href="../img/icons1.svg#icon-basket"></use>
        <use class="basket__close-icon" href="../img/icons1.svg#icon-close"></use>
      </svg>
    </div>
  </div>
</header>