:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #000000;
  --red: #ae1332;
  --green: #a4cb66;
  --yellow: #f5ce13;
  --white: #ffffff;


}
